bin
obj
csx
.vs
.idea
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json
yarn.lock
package-lock.json
.env*

/packages
/TestResults

/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode
.serverless
.build
src/**/*.js
src/**/*.js.map
credentials*
